@charset "utf-8";

body {
  margin: 0;
}

header {
  background: #eee;
  text-align: center;
  padding: 32px;
}

header img {
  border-radius: 50%;
}

h1 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 24px;
}

p {
  margin: 0;
}

h2, h3 {
  margin: 0;
  font-weight: normal;
}

main {
  padding: 64px 0;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-top: 16px;
}

section {
  width: 400px;
  margin: 64px auto 0;
}

section p {
  margin-top: 16px;
  line-height: 1.8;
}

footer {
  border-top: 1px solid #ccc;
  padding: 64px 0;
  text-align: center;
}

small {
  color: #aaa;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

footer img {
  margin-top: 16px;
}
